@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

label{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
input[type="email"]{
    font-family: 'Roboto', sans-serif;
}